<div class="table-responsive">
	<table class="table table-striped table-bordered table-sm caption-top">
		<caption>
			Last Runtime
		</caption>
		<tr>
			<th>server</th>
			<th>servertime</th>
			<th>created</th>
		</tr>
		{% for last in lastRunTime %}
			<tr>
				<td>{{ last.server }}</td>
				<td>{{ last.servertime }}</td>
				<td>{{ last.created }}</td>
			</tr>
		{% endfor %}
	</table>
</div>
