<div id="summary-one" style="border: cyan 2px solid; margin-bottom: 1rem;"></div>
<div style="border: blue 2px solid; margin-bottom: 1rem;">
	<p class="lead">Green ones:</p>
	<p id="summary-two"></p>
  <p class="lead">Sipariş adedine göre sıralı:</p>
	<p id="people" style="border: grey 2px solid;"></p>
</div>
