<div id="summary-one" style="border: cyan 2px solid; margin-bottom: 1rem;"></div>
<div style="border: blue 2px solid; margin-bottom: 1rem;">
	<p class="lead">Green ones:</p>
	<p id="summary-two"></p>
	<button class="btn btn-info" onclick="people('ordercount');">Sırala (Sipariş Adet)</button>
	<button class="btn btn-info" onclick="people('total');">Sırala (Tutar)</button>
	<p id="people-sort-message" class="lead"></p>
	<p id="people" style="border: grey 2px solid;"></p>
</div>
