{% extends "layout.twig" %}

{% block content %}
	<h1>{{ title }}</h1>

	<!-- Nav tabs -->
	<ul class="nav nav-tabs" id="tabSiparis" role="tablist">
		<li class="nav-item" role="presentation">
			<button class="nav-link active" id="summary-tab" data-bs-toggle="tab" data-bs-target="#tab-summary" type="button" role="tab" aria-controls="tab-summary" aria-selected="false">Summary</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="content-tab" data-bs-toggle="tab" data-bs-target="#tab-content" type="button" role="tab" aria-controls="tab-content" aria-selected="true">Orders</button>
		</li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div class="tab-pane active" id="tab-summary" role="tabpanel" aria-labelledby="summary-tab" tabindex="0">
			<div class="container">
				<div class="row">
					<div class="col-12">
						{% include 'tsiparis_summary.twig' %}
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="tab-content" role="tabpanel" aria-labelledby="content-tab" tabindex="0">
			<div class="container">
				<div class="row">
					<div class="col-12">
						{% include 'tsiparis_content.twig' %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block page_based_script %}
	<script src="/js/app-tsiparis.js"></script>
{% endblock %}
