{% extends "layout.twig" %}

{% block content %}
	<style>
		.siparis {
			word-break: break-all;
		}

		.tab-pane {
			padding-top: 1rem;
		}

		#button-container button {
			margin-right: 1rem;
      margin-bottom: 1rem;
		}

    #button-container {
      display: flex;
      flex-wrap: wrap;
    }

		.pink {
			background-color: pink;
		}

		.red {
			background-color: red;
		}

		.gray {
			background-color: gray;
		}

		.yellow {
			background-color: yellow;
		}

		.orange {
			background-color: orange;
		}

		.green {
			background-color: green;
		}

		.black {
			background-color: black;
			color: white;
		}
	</style>
	<h1>{{ title }}</h1>

	<!-- Nav tabs -->
	<ul class="nav nav-tabs" id="tabSiparis" role="tablist">
		<li class="nav-item" role="presentation">
			<button class="nav-link active" id="summary-tab" data-bs-toggle="tab" data-bs-target="#summary" type="button" role="tab" aria-controls="summary" aria-selected="false">Summary</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="content-tab" data-bs-toggle="tab" data-bs-target="#content" type="button" role="tab" aria-controls="content" aria-selected="true">Orders</button>
		</li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div class="tab-pane active" id="summary" role="tabpanel" aria-labelledby="summary-tab" tabindex="0">
			<div class="container">
				<div class="row">
					<div class="col-12">
						{% include 'tsiparis_summary.twig' %}
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="content" role="tabpanel" aria-labelledby="content-tab" tabindex="0">
			<div class="container">
				<div class="row">
					<div class="col-12">
						{% include 'tsiparis_content.twig' %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block page_based_script %}
	<script src="/js/app-tsiparis.js"></script>
{% endblock %}
