{% extends "layout.twig" %}

{% block content %}
	<header>
		<h1>Drupal Updates
			<em>(PHP)</em>
		</h1>
	</header>

	{% include 'last.twig' %}
	{% include 'security.twig' %}
	{% include 'space.twig' %}

{% endblock %}
