{% extends "layout.twig" %}

{% block content %}
	<header>
		<h1>Drupal Updates & Other Stuff
			<em>(PHP)</em>
		</h1>
	</header>

	<!-- Nav tabs -->
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item" role="presentation">
			<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Updates</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Drive Space</button>
		</li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
			<div class="container">
				{% include 'last.twig' %}
				{% include 'security.twig' %}
			</div>
		</div>
		<div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
			<div class="container">
				{% include 'space.twig' %}
			</div>
		</div>
	</div>
{% endblock %}
